* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none; 
    transition: 1s;
    font-family: 'Roboto Flex', sans-serif;
    color: #000;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: grey;
}

@media (max-width: 450px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .copy {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;    
            height: 50px;
            border-radius: 6px;
            border: 3px solid #ffffff;
            background: #ff37cd;   
            cursor: pointer;    
        }
        .main-container {
            position: relative;
            margin: auto;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            height: 200px;
            border-radius: 10px;
            border: 2px solid #fff;
            background: #fc77d7e6;
            .block {
                position: absolute;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 27px;
                width: 300px;
                height: 60px;
                background: #FFF;
            }
            .window {
                overflow: hidden;
                padding: 4px;
                display: flex;
                align-items: center;
                width: 100%;
                height: 60px;
                border-radius: 4px;
                border: 3px solid #ff37cd;
                background: #fff;
                .list {
                    position: relative;
                    right: 0;
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    height: 45px;
                    font-size: 16px;
                    p {
                        word-wrap: break-word;
                    }
                }
            }
            .num-films {
                position: absolute;
                top: 153px;
                right: 13px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60px;
                height: 30px;
                border-radius: 4px;
                border: 3px solid #ff37cd;
                background: #FFF;
            }
            .button {
                margin-top: 27px;
                width: 100px;   
                height: 100px;
                background: url(./pig.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                cursor: pointer;
            }
        }  
        .del {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;    
            height: 50px;
            border-radius: 6px;
            border: 3px solid #ffffff;
            background: #ff37cd;   
            cursor: pointer;    
        }
    }
}